body {
	background-image:url('img/bg.jpg');
	background-position:center top;
	background-repeat:no repeat;
	background-color:#000;
	overflow:hidden;
	width:100%;
	margin:0;
}

.subscriptions-container {
	color:#fff;
	margin:0;
	width:90%;
	left:0;
	padding:30px;
	background:rgba(0,0,0,0.8);
	-webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.7);
}

.form {
	margin:30px 0;
}

.bold {margin-left:10px;
	font-weight:900;}

.description {
	margin-left:23px;
	color:#a3a3a3;
}

.fineprint {
	display:block;
	font-style:italic;
	font-size:16px;
	margin-top:30px;
	color:#a3a3a3;
	line-height:1.5;
}
